---
# Install CUDA samples (bandwidthTest, p2pBandwidthLatencyTest, etc.)

- name: Check if CUDA samples already exist
  stat:
    path: "{{ cuda_samples_dir }}"
  register: cuda_samples_stat

- name: Clone CUDA samples
  git:
    repo: https://github.com/NVIDIA/cuda-samples.git
    dest: "{{ cuda_samples_dir }}"
    version: master
  when: not cuda_samples_stat.stat.exists

- name: Build bandwidthTest
  shell: |
    cd {{ cuda_samples_dir }}/Samples/1_Utilities/bandwidthTest
    make
  args:
    creates: "{{ cuda_samples_dir }}/Samples/1_Utilities/bandwidthTest/bandwidthTest"

- name: Build p2pBandwidthLatencyTest
  shell: |
    cd {{ cuda_samples_dir }}/Samples/1_Utilities/p2pBandwidthLatencyTest
    make
  args:
    creates: "{{ cuda_samples_dir }}/Samples/1_Utilities/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest"

- name: Create symlinks to /usr/local/bin
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: "{{ cuda_samples_dir }}/Samples/1_Utilities/bandwidthTest/bandwidthTest", dest: "/usr/local/bin/bandwidthTest" }
    - { src: "{{ cuda_samples_dir }}/Samples/1_Utilities/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest", dest: "/usr/local/bin/p2pBandwidthLatencyTest" }
  ignore_errors: yes

- name: Clone nvbandwidth
  git:
    repo: https://github.com/NVIDIA/nvbandwidth.git
    dest: /opt/nvbandwidth
  when: not (stat_result.stat.exists | default(false))
  register: nvbandwidth_clone

- name: Build nvbandwidth
  shell: |
    cd /opt/nvbandwidth
    make
  args:
    creates: /opt/nvbandwidth/nvbandwidth
  when: nvbandwidth_clone.changed

- name: Install nvbandwidth
  copy:
    src: /opt/nvbandwidth/nvbandwidth
    dest: /usr/local/bin/nvbandwidth
    mode: '0755'
    remote_src: yes
  when: nvbandwidth_clone.changed
